// core overrides

$toolbox-width : 200px !default;
$toolbox-color : $gray-800 !default;
$toolbox-bg : #fff !default;
$toolbox-borders: (
    right: (
        size : 1px,
        style : solid,
        color : $border-color)
    ) !default;

$toolbox-padding-y : .75rem !default;
$toolbox-padding-x : 1rem !default;

$toolbox-header-borders: (
    bottom: (
        size : 1px,
        style : solid,
        color : $border-color)
    ) !default;