// Toolbox
$toolbox-width : 200px !default;
$toolbox-color : $gray-800 !default;
$toolbox-bg : #fff !default;
$toolbox-borders: (
    right: (
        size : 1px,
        style : solid,
        color : $border-color)
    ) !default;

$toolbox-padding-y : .75rem !default;
$toolbox-padding-x : 1rem !default;

$toolbox-header-borders: (
    bottom: (
        size : 1px,
        style : solid,
        color : $border-color)
    ) !default;

.toolbox {
    display: flex;
    flex-direction: column;
    width: $toolbox-width;
    color: $toolbox-color;
    background: $toolbox-bg;
    height: calc(100vh - #{$navbar-height});
    position: fixed;
    z-index: $zindex-sticky - 2;
    @include borders($toolbox-borders);

    .toolbox-header {
        padding: $toolbox-padding-y $toolbox-padding-x;
        @include borders($toolbox-header-borders)
    }

    .tools-container {
        overflow-y: auto;

        .set-header {
            width: 100%;
            display: inline-block;
            padding: $toolbox-padding-y $toolbox-padding-x;
            @include borders($toolbox-header-borders);
        }
    }
}

#output {
    min-height: calc(100vh - #{$navbar-height});
}